TestePratico.Web/Service References/WCF.UFAppService/UFAppService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60850/UFAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" />
  <xs:import schemaLocation="http://localhost:60850/UFAppService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Validation" />
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" minOccurs="0" name="GetByIdResult" nillable="true" type="q1:UF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfUF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" minOccurs="0" name="entity" nillable="true" type="q3:UF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Validation" minOccurs="0" name="AddResult" nillable="true" type="q4:ValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" minOccurs="0" name="entity" nillable="true" type="q5:UF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Validation" minOccurs="0" name="UpdateResult" nillable="true" type="q6:ValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" minOccurs="0" name="entity" nillable="true" type="q7:UF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Validation" minOccurs="0" name="RemoveResult" nillable="true" type="q8:ValidationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>