TestePratico.Web/Service References/WCF.UFAppService/UFAppService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TestePratico.Domain.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UF">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdUF" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pessoas" nillable="true" type="tns:ArrayOfPessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UF" nillable="true" type="tns:UF" />
  <xs:complexType name="ArrayOfPessoa">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Pessoa" nillable="true" type="tns:Pessoa" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPessoa" nillable="true" type="tns:ArrayOfPessoa" />
  <xs:complexType name="Pessoa">
    <xs:sequence>
      <xs:element minOccurs="0" name="DDD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascimento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPessoa" type="xs:int" />
      <xs:element minOccurs="0" name="IdUF" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UF" nillable="true" type="tns:UF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Pessoa" nillable="true" type="tns:Pessoa" />
  <xs:complexType name="ArrayOfUF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UF" nillable="true" type="tns:UF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUF" nillable="true" type="tns:ArrayOfUF" />
</xs:schema>